<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="SomerenDatabase" connectionString="Data Source=databaseprojectgroup4.database.windows.net;
         Initial Catalog=DatabaseProjectGroup4; User=group4; Password=200356OVd"/>
    </connectionStrings>
</configuration>1234